{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<body class="blog">
    <main>
        <div class="sidebar">
            <div class="block-sidebar">
                <h2>Топ-3 статьи:</h2>
                <ul>
                    <li><a href="#">Статья 1</a></li>
                    <li><a href="#">Статья 2</a></li>
                    <li><a href="#">Статья 3</a></li>
                </ul>
            </div>
            <div class="block-sidebar">
                <h2>Последнее:</h2>
                <ul>
                    <li><a href="#">Статья 1</a></li>
                    <li><a href="#">Статья 2</a></li>
                    <li><a href="#">Статья 3</a></li>
                    <li><a href="#">Статья 4</a></li>
                    <li><a href="#">Статья 5</a></li>
                    <li><a href="#">Статья 6</a></li>
                    <li><a href="#">Статья 7</a></li>
                    <li><a href="#">Статья 8</a></li>
                    <li><a href="#">Статья 9</a></li>
                    <li><a href="#">Статья 10</a></li>
                </ul>
            </div>
        </div>

        <div class="content">
            <div class="greeting">
                <h2>Название статьи</h2>
                <p>Аннотация</p>
                <p>Автор</p>
                <p>Картинка</p>
                <p>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст</p>
            </div>

        </div>
    </main>
</body>
{% endblock %}
