{% extends 'main/layout.html' %}
{% load static %}

{% block content %}

<h1>УСЛУГИ И ЦЕНЫ</h1>
<h2>Эстетическая косметология</h2>

<div class="price-service-container">
    <div class="price-service-header">
        <div class="price-service-duration">от 35 мин</div>
        <div class="price-service-title">SmoothLips коррекция губ и омоложение зоны рта</div>
    </div>
    <div class="price-service-description">
        Эффект виден сразу после окончания первой процедуры: увеличение объема губ, эффект омоложения лица, восстановление естественного цвета губ и тонуса кожи вокруг рта. После выполнения курса из 3-4 процедур эффект сохраняется до трех лет. Стоимость указана за 1 процедуру.
    </div>
    <div class="price-service-footer">
        <div class="price-service-price">8000 ₽</div>
        <a href="#" class="price-service-button">Записаться</a>
    </div>
</div>

<hr>

<div class="price-service-container">
    <div class="price-service-header">
        <div class="price-service-duration">15 мин</div>
        <div class="price-service-title">Лазерное удаление бородавок Fotona</div>
    </div>
    <div class="price-service-description">
        Во время процедуры лазерного удаления родинок, бородавок и папиллом, лазерный луч воздействует точно и на необходимую глубину,
        постепенно послойно испаряя ткани, не затрагивая здоровую кожу вокруг, сведя к минимуму риск появления неэстетических рубцов и последствий.
        Стоимость процедуры указана за одну единицу.
    </div>
    <div class="price-service-footer">
        <div class="price-service-price">1000 ₽</div>
        <a href="#" class="price-service-button">Записаться</a>
    </div>
</div>

<hr>

<div class="price-service-container">
    <div class="price-service-header">
        <div class="price-service-duration">60 мин</div>
        <div class="price-service-title">Чистка лица</div>
    </div>
    <div class="price-service-description">
        Очищает лицо от прыщей и чёрных точек. Подходит для любого типа кожи, но наиболее востребована для решения проблем жирного, пористого, склонного к воспалениям кожного покрова. Стоимость от 3900 до 4900 ₽ зависит от типа чистки: ультразвуковая, механическая, комбинированная.
    </div>
    <div class="price-service-footer">
        <div class="price-service-price">3900 ₽</div>
        <a href="#" class="price-service-button">Записаться</a>
    </div>
</div>

<hr>

<div class="price-service-container">
    <div class="price-service-header">
        <div class="price-service-duration">60 мин</div>
        <div class="price-service-title">Пилинг лица</div>
    </div>
    <div class="price-service-description">
       Большой выбор эффективных пилингов лица (Джеснера, Миндальный, Салициловый, PRX-T33) для омоложения кожи, улучшения покрова и борьбы с акне. Подбираются персонально для вас врачами-косметологами KOSMOS. Стоимость от 2900 до 6900 ₽ зависит от типа пилинга.
    </div>
    <div class="price-service-footer">
        <div class="price-service-price">3900 ₽</div>
        <a href="#" class="price-service-button">Записаться</a>
    </div>
</div>

<hr>

<div class="price-service-container">
    <div class="price-service-header">
        <div class="price-service-duration">45 мин</div>
        <div class="price-service-title">Плазмотерапия</div>
    </div>
    <div class="price-service-description">
        Подходит: 1) при акне, возрастных изменениях кожи, сухости, растяжках, шрамах и рубцах, 2) во время реабилитационного периода после лазерного или химического пилинга, 3) при заболеваниях кожи головы и волос. Стоимость от 3900₽ до 5900 за 1 пробирку.    </div>
    <div class="price-service-footer">
        <div class="price-service-price">3900 ₽</div>
        <a href="#" class="price-service-button">Записаться</a>
    </div>
</div>
{% endblock %}
