{% extends 'main/layout.html' %}
{% load static %}

{% block content %}

<h1>УСЛУГИ И ЦЕНЫ</h1>
<h2>Инъекционная косметология</h2>

<div class="price-service-container">
    <div class="price-service-header">
        <div class="price-service-duration">от 30 мин</div>
        <div class="price-service-title">Ботулотоксины</div>
    </div>
    <div class="price-service-description">
        Подходят для устранения мимических морщин, омолаживают и подтягивают лицо.
        Стоимость зависит от количества единиц и препарата (Диспорт - 150 ₽/единица, Ботокс - 290 ₽/единица, Ксеомин - 290 ₽/единица).
        Подбираются персонально для вас врачами-косметологами KOSMOS.
    </div>
    <div class="price-service-footer">
        <div class="price-service-price">150 ₽</div>
        <a href="#" class="price-service-button">Записаться</a>
    </div>
</div>

<hr>

<div class="price-service-container">
    <div class="price-service-header">
        <div class="price-service-duration">от 30 мин</div>
        <div class="price-service-title">Контурная пластика</div>
    </div>
    <div class="price-service-description">
        Разнообразные услуги от коррекции контуров лица, губ, скул, подбородка до устранения морщин. Корректирует даже форму носа и подбородка. Подбирается персонально для вас врачами-косметологами KOSMOS. Стоимость от 16900 до 18900 ₽ зависит от препаратов и типа процедур.
    </div>
    <div class="price-service-footer">
        <div class="price-service-price">17000 ₽</div>
        <a href="#" class="price-service-button">Записаться</a>
    </div>
</div>

<hr>

<div class="price-service-container">
    <div class="price-service-header">
        <div class="price-service-duration">60 мин</div>
        <div class="price-service-title">Мезотерапия</div>
    </div>
    <div class="price-service-description">
        Подходит для избавления от целлюлита, выравнивания морщин, подтяжки кожи, улучшения контуров тела или лечения облысения. Подбирается персонально для вас врачами-косметологами KOSMOS. Стоимость от 2900 до 16900 ₽ зависит от препаратов и типа процедур.    </div>
    <div class="price-service-footer">
        <div class="price-service-price">2900 ₽</div>
        <a href="#" class="price-service-button">Записаться</a>
    </div>
</div>

<hr>

<div class="price-service-container">
    <div class="price-service-header">
        <div class="price-service-duration">40 мин</div>
        <div class="price-service-title">Биоревитализация</div>
    </div>
    <div class="price-service-description">
       Большой выбор эффективных пилингов лица (Джеснера, Миндальный, Салициловый, PRX-T33) для омоложения кожи, улучшения покрова и борьбы с акне. Подбираются персонально для вас врачами-косметологами KOSMOS. Стоимость от 2900 до 6900 ₽ зависит от типа пилинга.
    </div>
    <div class="price-service-footer">
        <div class="price-service-price">3900 ₽</div>
        <a href="#" class="price-service-button">Записаться</a>
    </div>
</div>

<hr>

<div class="price-service-container">
    <div class="price-service-header">
        <div class="price-service-duration">45 мин</div>
        <div class="price-service-title">Плазмотерапия</div>
    </div>
    <div class="price-service-description">
        Подходит: 1) при акне, возрастных изменениях кожи, сухости, растяжках, шрамах и рубцах, 2) во время реабилитационного периода после лазерного или химического пилинга, 3) при заболеваниях кожи головы и волос. Стоимость от 3900₽ до 5900 за 1 пробирку.    </div>
    <div class="price-service-footer">
        <div class="price-service-price">3900 ₽</div>
        <a href="#" class="price-service-button">Записаться</a>
    </div>
</div>


{% endblock %}


