{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<div class="input-group">
    <input type="search" id="searchInput" class="form-control rounded col-12 col-md-6" placeholder="Поиск по записям" aria-label="Search" aria-describedby="search-addon" />
    <input type="text" id="dateInput" class="form-control rounded col-12 col-md-4" placeholder="ДД.ММ.ГГГГ" aria-label="Date" aria-describedby="date-addon" />
    <button type="button" id="searchButton" class="btn btn-outline-primary col-12 col-md-2" data-mdb-ripple-init>Поиск</button>
</div>

<h1>Все активные записи в BEAUTY SPACE STUDIO:</h1>

<div class="record-container">
{% for record in records_all %}
    <div class="record">
        <div class="record-info">
            <p><b>{{ record.service.name }} </b> {{ record.price }} рублей </p>
            <p class="date-time"> {{ record.date }}, {{ record.time }} </p>
        </div>
        <form method="post" action="{% url 'cancel_record_all' record.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">ОТМЕНИТЬ</button>
        </form>
    </div>
{% endfor %}
    </div>

{% endblock %}
